extends layout

block content
	h1.
		Posts List
	ul
		each post, i in postlist
			div.row
				div.username.glyphicon.glyphicon-user.col-md-2
					label #{post.username}
				div.userlocation.glyphicon.glyphicon-map-marker.col-md-2
					label #{post.userlocation}
				div.date.glyphicon.glyphicon-time.col-md-2
					label #{post.date}
				div.time.glyphicon.glyphicon-time.col-md-2
					label #{post.time}
				div.window.glyphicon.glyphicon-time.col-md-2
					label #{post.window}
					